{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--tab title-->
        <title>
            Research Website
        </title>
        <!--style sheet-->
        <link rel="stylesheet" href="{% static 'research_styles.css' %}">
        <!--icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
	
    <body>
        <!--nav bar class-->
        <div class="navbar">
            <!--nav bar contents-->
            <ul>
                <li class="navlist"><a class="WebName" href="../">
                    <i>Website Name.
                    </i>
                </a></li>
                <li class="navlist"><a class="navlink" href="/Topics">
                    Topics
                </li>
				<li class="navlist"><a class="navlink" href="/About">
                    About
                </li>
                <!--add more if needed to nav bar-->
            </ul>
        <!--nav bar div end-->    
        </div>
        
			<img src="Graph.png">
			<img src="Graph.png">
		
        <!--main page class-->
        <div class="main">
            <p>
                <!--website title-->
                <a class="title">
                    {{keyword.keyword_1.name}} & {{keyword.keyword_2.name}}
                </a>
            </p>
			<p>Return to <a href="../Results1">Results 1</a></p>
			<br>
            <!--other features-->

			<!-- Like feature coding -->
			<!-- List of liked words/phrases coding -->
			<ul class="likelist">
				<li><div class="like">Liked Lists e.g.</div></li>
				<li>Deep Learning</li>
				<li>BlockChain</li>
				<li>Data Mining</li>
				<li>Artifial Intelligence</li>
				<li>Centralized</li>
				<li>Decentralized</li>
				<li>Internet security</li>
				<li>Privacy</li>
				<li>Solar Energy</li>
				<li>Renewable Energy</li>
			</ul>
			
			<div class="graph">
				{% autoescape off %}
				{{ graph.graph1 }}
				{% endautoescape %}
				
			</div>
			
			<div class="graph">
				{% autoescape off %}
				{{ graph.graph2 }}
				{% endautoescape %}
			</div>

			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Citations</th>
					<td>{{keyword.average_reader_count}}</td>
				</tr>
			</table>
			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Publications</th>
					<td>{{keyword.total_publication}}</td>
				</tr>
			</table>
			<table div class="tablepropertyV">
				<tr>
					<th div class="r2th">Score</th>
					<td>{{keyword.score}}</td>
				</tr>
			</table>



			<!-- List of keyword input & its citation number, published number, and score -->
			<br><br><br><br><br><br>
			<p class="title2">
                Research Papers
            </p>
			<table div class="tableproperty">
				<tr div class="tabletopic">
					<th>Title</th>
					<th>Citations</th>
					<th>Date Published</th>
					<th>Link</th>
					</div>
				</tr>
                 {% for x in related %}
				<tr>
                    <td>{{x.paper.name}}</td>
                    <td>{{x.paper.reader_count}}</td>
                    <td>{{x.paper.year_published}}</td>
                    <td><a href="{{x.paper.link}}">Link</a></td>
				</tr>
                {% endfor %}
			</table>
			<br><br>
			<!-- Citation number coding -->
			<!-- Published number coding -->
			<!-- Score coding -->
			
			

        </div>
    <!--body end-->
    </body>
	<footer>
	<div class="footer">
		<span class="left">Contact Email : <a href="mailto:hfyma6@nottingham.edu.my">hfyma6@nottingham.edu.my</a></span>
		<span class="right">Created by SEGP Group 4B</span>​
	</div>
	</footer>
</html>

