<!-- created by group -->

{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'results2css.css' %} ">
		<link rel="stylesheet" href="{% static 'test_navigation.css' %}">
		<link  rel="shortcut icon" type="image/png" href="{% static 'favicon_logo.png' %}">
	</head>
	<title>{{keyword.topic_1.name}} &amp; {{keyword.topic_2.name}}</title>
	
	<body>
	
		<div id="navbar" >
			<a href="../">SOLUTION DISTRICT</a>
		</div>
	
		<div class="main">
			<div class="section1">
				<a class="keyword" style="font-size:2.7vw;">{{keyword.topic_1.name}} &amp; {{keyword.topic_2.name}}</a>
				<br><br><br><br>
				<table style="width:100%;margin:0 auto;padding:10px;border-spacing: 0 20px;" class="results2table">
					<tr>
						<th style="font-size:2vw;">READER SCORE</th>
						<th style="font-size:2vw;">AUTHOR SCORE</th>
						<th style="font-size:2vw;">GROWTH SCORE</th>
						<th style="font-size:2vw;">P.I.E SCORE</th>
					</tr>
					<tr>
						<td style="font-size:2vw;">{{keyword.combination_score}}</td>
						<td style="font-size:2vw;">{{keyword.combination_authorscore}}</td>
						<td style="font-size:2vw;">{{keyword.combination_growth}}</td>
						<td style="font-size:2vw;">{{keyword.combination_pie}}</td>
					</tr>
				</table>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br>
			
			
				
			<div class="file_container">
			
				<ul class="main-menu">
					<li><button onclick="show(1)">Statistical Trend</button></li>
					<li><button onclick="show(2)">Related Keyword</button></li>
					<li><button onclick="show(3)">Related Paper</button></li>
			</ul>
			
				<div class="content">
					<div class="sub_content" id="1" style="height:110vh">
						<h1 class="keyword" style="font-size:3vw;">STATISTICAL ANALYSIS</h1>
						<div class="graph">
							{% autoescape off %}
							{{ graph.graph1 }}
							{% endautoescape %}
							{% autoescape off %}
							{{ graph.graph2 }}
							{% endautoescape %}
						</div>
					</div>

					<div class="sub_content" id="2" style="display:none;">
						<h1 class="keyword" style="font-size:3vw;">RELATED WORDS</h1>
						<table div class="tableproperty">
							{% for x,y in related_word.words %}
								{% if forloop.counter|divisibleby:2 %}
										<td style="font-size:{{y}}vw;"><a href="../SingleKeywordResult/?keyword={{x}}">{{x}}</a></td>
									</tr>
								{% else %}
									{% if forloop.last %}
										<tr>
											<td colspan="2" style="font-size:{{y}}vw;"><a href="../SingleKeywordResult/?keyword={{x}}">{{x}}</a></td>
										</tr>
									{% else %}
										<tr>
											<td style="font-size:{{y}}vw;"><a href="../SingleKeywordResult/?keyword={{x}}">{{x}}</a></td>
									{% endif %}
								{% endif %}
							{% endfor %}
						</table>
					</div>

					<div class="sub_content" id="3" style="display:none;">
						<h1 class="keyword3" style="font-size:3vw;">RESEARCH PAPERS</h1>

						<table class="container">
							<thead>
								<tr>
									<th><h1 style="font-size:1.7vw;">Title</h1></th>
									<th><h1 style="font-size:1.7vw;">Citations</h1></th>
									<th><h1 style="font-size:1.7vw;">Date Published</h1></th>
									<th><h1 style="font-size:1.7vw;">Link</h1></th>
								</tr>
							</thead>
							<tbody>
								{% for x in related %}
									<tr>
										<td style="font-size:1.2vw;">{{x.paper.name}}</td>
										<td style="font-size:1.2vw;">{{x.paper.reader_count}}</td>
										<td style="font-size:1.2vw;">{{x.paper.year_published}}</td>
										<td style="font-size:1.2vw;"><a href="{{x.paper.link}}">Link</a></td>
									</tr>
								{% endfor %}

								{% for x in related2.paper %}
									<tr>
										<td style="font-size:1.2vw;">{{x.name}}</td>
										<td style="font-size:1.2vw;">{{x.reader_count}}</td>
										<td style="font-size:1.2vw;">{{x.year_published}}</td>
										<td style="font-size:1.2vw;"><a href="{{x.link}}">Link</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	function show(x){
		var elements = document.getElementsByClassName("sub_content");
		for (var i = 0, len = elements.length; i < len; i++) {
			 elements[i].style.display = "none";
		}
		var content_chose = document.getElementById(x);
		content_chose.style.display = "block";
	}
</script>