/* created by group */

body{
	font-family:raleway;
    width:100vw;
    margin:0;
    top:0;
    left:0;
    background: #0b345d;
    background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%);
    overflow-x: hidden;
}

.return_homepage {
    border-radius: 15px;
    width: min(20vw,400px);
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid white;
    padding:20px;
}

a {
    text-decoration:none;
    color:white;
}

.return_homepage:hover{
    background-color:white;
    transition-delay: 0s;
	 transition-duration: 0.2s;
	 transition-property: all;
    transition-timing-function: line;
}

.return_homepage:hover > a{
    color: #0b345d;
    font-weight:bold;
    transition-delay: 0s;
	 transition-duration: 0.2s;
	 transition-property: all;
    transition-timing-function: line;
}

.error_div {
    width: max(60vw,800px);
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5vh;
}

.container {
	position: absolute;
	top:20%;
	right:23%;
	transform(translate -1%, -1%);
}

.button {
	position:relative;
	text-align:center;
	width:50%;
	padding:40px;
	font-size: 150%;
	color: #232946;
	font-family: poppins;
	font-weight: bold;
	border: 4px solid #232946;
	text-transform: uppercase;
	letter-spacing: 10px;
	cursor: pointer;
	border-radius: 100px;
	transition: 1.5s;
	text-decoration: none;
}

.button:hover
{
	box-shadow: 0 5px 50px 0 #15f4ee inset,  0 5px 50px 0 #15f4ee,
				0 5px 50px 0 #15f4ee inset,  0 5px 50px 0 #15f4ee;
	color: #15f4ee;
}